.bg-red,
.high {
  background-color: #f56969;
}

.bg-orange,
.medium {
  background-color: #f5b869;
}

.bg-yellow,
.low {
  background-color: #f5e769;
}

.item-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.place {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.settings {
  margin: 0 10px;
}