<div *ngIf="task" class="item-container">
  <mat-checkbox #checkboxInput [checked]="taskModelObj.done" (change)="markAsDone($event)"></mat-checkbox>
  <mat-expansion-panel [ngClass]="{ 'bg-yellow': taskModelObj.done }" *ngIf="task" style="flex: 1; margin: 0 10px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ task.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ task.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>Done: {{ taskModelObj.done ? 'Yes' : 'No' }}</li>
      </ul>
      <ng-content></ng-content>
      <div class="place">
        <mat-icon (click)="onEdit(task)" class="settings" aria-hidden="false" aria-label="edit">edit</mat-icon>
        <mat-icon (click)="deleteTask(task)" class="settings" aria-hidden="false" aria-label="delete">delete</mat-icon>
      </div>
  </mat-expansion-panel>
</div>